{% extends 'header.html' %}

{% block title %}جميع الأخبار{% endblock %}

{% block content %}
<div class="container py-5">
    <h1 class="mb-4">جميع الأخبار</h1>
    
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for news in all_news %}
        <div class="col">
            <div class="card shadow-sm">
                <img src="{{ news.img_url }}" class="img-fluid card-img-top" alt="{{ news.title }}" style="max-width: 100%; height: auto;">
                <div class="card-body">
                    <h5 class="card-title">{{ news.title }}</h5>
                    <p class="card-text">{{ news.article[:100] }}...</p> <!-- Show a short excerpt -->
                    <p><small class="text-muted">{{ news.date.strftime('%Y-%m-%d') }}</small></p>
                    <a href="{{ url_for('read_news',news_id=news.id) }}" class="btn btn-primary">اقرأ المزيد</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
